body{
    font-family:'Roboto', sans-serif;
}
.wrapper{
    margin:7rem auto;
    max-width: 65rem;
    min-width: 35rem;
}
#main-content{
    background-color: white;
    filter: drop-shadow(2px 2px 5px #a1a1a1);

 }
/* test de cintas*/
 .cintaverde{
     position: absolute;
     width: 50rem;
     height: 8rem;
     transform: rotate(135deg);
     background-color:rgba(51, 230, 221, 0.692);
 }


 #cintaverde_1{
    top: 3rem;
    left: -25rem;
}
#cintaverde_2{
    bottom: 3rem;
    right: -25rem;
}

div.contained{
    display: inline-block;
}

#foto{
    margin:3rem 0 0 5rem;
    height: 19rem;
    width: 19rem;
    background-image: url(../img/denisse-guidi.jpg);
    background-size: 100%;
    vertical-align: top;
    border-radius: 50%;
}

#info{
    margin: 3rem 5rem 0 3rem;
    position: relative;
    right: 0;
}
.lista{
    list-style-type: none;
} 
h1{
    font-weight: 800;
    font-size: 5rem;
    margin: 0;
}
h2{
    background-repeat: no-repeat;
    padding-left: 2rem;
    font-weight: 500;
    font-size: 1rem;
}
#estudios{
    background-image: url(../img/lentes.svg);
}
#hobbies{
    background-image: url(../img/hobbies.svg);
}

#inner-footer{
    margin: 1rem 1rem 2rem 3rem;
    width: 90%;
    position: center;
}
h3{
    font-style: italic;
    font-weight: 100;
    font-size: 2rem;
    margin: 0;
    text-align: center;
}

